.navbar-inner {color: white; font-size:30px;padding-top:12px;}
.topic-title-label {color:green;}
.topic-title-content {color:black; padding-left: 5px}
.items-container {margin-left: 30px}
.item-label {font-size: 20px; color:green;}
.item-content {font-size: 15px;padding-left: 10px}
.ops {margin-top:40px;}